BODY, P, DIV, UL LI, OL LI, TH, TD {
  font-family: "Sahitya", "Constantia", Georgia, 'Times New Roman', Times, serif;
  font-size: 14pt; }

BODY {
  margin: 0px;
  position: relative;
  background-color: white; }

H1, H2, H3 {
  font-family: "Playball","Constantia", Georgia, 'Times New Roman', Times, serif; }

A {
  color: #369;
  font-weight: bold; }

P {
  margin-bottom: 0.5em; }

.lightener {
  background-color: #ecf2f9;
  margin-top: 1em;
  font-size: 1.2em;
  width: 96%;
  padding: 2%; }

HEADER {
  width: 98%;
  padding: 1%;
  background-color: #369;
  color: white;
  margin-bottom: 1.5em;
  text-align: center; }
  HEADER H1, HEADER H2 {
    text-shadow: 0px 2px 20px  #000;
    /*font-weight: bold;*/
    text-align: center; }

.foo-item {
  margin-bottom: 1.5em; }

FOOTER {
  width: 98%;
  padding: 1em 1%;
  background-color: #369;
  color: white;
  margin-top: 1.5em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }
  FOOTER H3 {
    font-size: 1.35em;
    font-weight: bold; }
  FOOTER A {
    color: #c6d9ec;
    text-decoration: none;
    font-weight: bold; }

#hero {
  padding-top: 1em;
  padding-bottom: 1em; }
  #hero H1.hero-title {
    font-size: 48pt;
    text-align: center;
    margin: auto 2%; }
  #hero H2.hero-row {
    font-size: 24pt;
    text-align: center;
    margin: auto 2%; }

.post-content .page-logo {
  max-width: 55%;
  float: right;
  margin-left: 1em;
  margin-bottom: 1.5em;
  margin-top: 1em; }
  .post-content .page-logo IMG {
    max-width: 100%; }
  .post-content .page-logo .logo-caption {
    font-size: 0.9em;
    font-style: italic;
    text-align: center; }
.post-content figure {
  float: right;
  padding: 0px;
  max-width: 50%; }
  .post-content figure IMG {
    max-width: 100%; }
  .post-content figure figcaption {
    font-size: 0.85em;
    font-style: italic;
    text-align: right; }
.post-content figure.page-logo {
  width: 100%; }
  .post-content figure.page-logo img {
    width: 100%; }
.post-content H1 {
  font-size: 2;
  color: #3973ac; }
.post-content H2 {
  font-size: 1.75em;
  color: #3973ac; }
.post-content H3 {
  font-size: 1.4em;
  color: #3973ac; }
.post-content P {
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto; }

.mapbox {
  display: block;
  margin: 1em auto;
  width: 99%;
  height: 70%;
  min-height: 500px;
  max-height: 800px; }

.elenco {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  margin-top: 0.8em;
  margin-bottom: 1.5em; }
  .elenco LI {
    border-bottom: 1px dotted #5AF;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    text-align: center;
    font-size: 0.9em; }
    .elenco LI A {
      text-decoration: none; }
  .elenco .selected {
    background-color: #ecf2f9; }

.indirizzo-bold {
  font-weight: 800;
  font-size: 1.1em; }

.sedi-alternative UL {
  list-style-type: none; }
  .sedi-alternative UL LI {
    font-size: 0.9em;
    display: inline; }
  .sedi-alternative UL LI::after {
    content: ", "; }

@media only screen and (min-width: 767px) {
  #elenco {
    position: relative;
    background-color: white;
    box-shadow: 0px 2px 10px white; }
    #elenco .li-menu-gohome {
      display: none; }

  #elenco-pagine {
    position: relative; } }
@media only screen and (min-width: 768px) {
  LI.li-menu-item-phone {
    display: none; } }
@media only screen and (max-width: 767px) {
  .elenco {
    position: fixed;
    width: 100%;
    float: left;
    left: 0;
    top: 0;
    min-height: 50px;
    background-color: #3973ac;
    margin-top: 0px;
    z-index: 9999;
    box-shadow: 0px 2px 10px black; }
    .elenco LI {
      border-bottom: 0px solid #369; }
    .elenco LI.li-menu-gohome {
      height: 24px;
      background-color: yellow;
      margin-top: 8px;
      margin-left: 8px;
      width: 24px;
      float: left;
      display: block;
      background-color: #3973ac;
      border-bottom: 0px solid #369; }
    .elenco LI.li-menu-item-phone {
      float: right;
      text-align: left;
      margin-right: 1%;
      width: 78%;
      color: white;
      background-color: #3973ac;
      border-bottom: 0px solid #369;
      margin-bottom: 0px;
      margin-top: 0px;
      text-align: right;
      font-size: 1em;
      /*font-family: 'Segoe UI', 'Droid Sans', Tahoma, Geneva, Verdana, sans-serif;*/ }
      .elenco LI.li-menu-item-phone A {
        color: white;
        margin-right: 0.5em; }
    .elenco LI.li-menu-item {
      display: none;
      float: right;
      text-align: left;
      margin-right: 1%;
      width: 78%;
      background-color: #3973ac;
      border-bottom: 0px solid #369;
      margin-bottom: 0px;
      margin-top: 0px;
      font-family: 'Segoe UI', 'Droid Sans', Tahoma, Geneva, Verdana, sans-serif; }
      .elenco LI.li-menu-item A {
        color: white; }
    .elenco LI.selected {
      background-color: #ecf2f9; }
      .elenco LI.selected A {
        color: #264d73; }

  HEADER {
    margin-top: 53px; }

  .post-content .page-logo {
    max-width: 90%;
    margin: 1em auto;
    float: none; }
    .post-content .page-logo IMG {
      max-width: 100%; }
    .post-content .page-logo .logo-caption {
      font-size: 0.9em;
      font-style: italic;
      text-align: center; }
  .post-content figure {
    padding: 0px;
    width: 90%;
    max-width: 90%;
    margin-left: 5%;
    text-align: center; }
    .post-content figure IMG {
      max-width: 100%; }
    .post-content figure figcaption {
      font-size: 0.85em;
      font-style: italic;
      text-align: center; }
  .post-content figure.page-logo {
    width: 100%; }
    .post-content figure.page-logo img {
      width: 100%; } }
